<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MY WEBAPP</title>
  <link href="{{url_for('static', filename='css/template.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css"
    integrity="sha384-zh0CIslj+VczCZtlzBcjt5ppRcsAmDnRem7ESsYwWwg3m/OaJ2l4x7YBZl9Kxxib" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js"
    integrity="sha384-Rma6DA2IPUwhNxmrB/7S3Tno0YY7sFu9WSYMCuulLhIqYSGZ2gKCJWIqhBWqMQfh"
    crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
    onload="renderMathInElement(document.body);"></script>
</head>

<body>
  <header>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/"> LOGO </a>
      </div>
    </nav>
  </header>

  <section class="section is-flex is-flex-direction-column is-align-items-center">
    <h1 class="title">MathApp</h1>

    <!--INPUT-->
    <form class="formulario" id="form" method="POST">
      <div class="field">
        <label for="" class="label">Input: </label>
        <!--barra de input 1-->
        <div class="control is-flex">
          <input type="search" class="input" id="entrada element" name="entrada"
            placeholder="entre com a expressao matematica..." value="{{entrada}}" required>

          <button class="button is-link is-small" type="submit">
            <span class="icon-text is-primary">
              <!-- <i class="fa fa-equals"></i> -->
              <i class="fa fa-terminal"></i>
            </span>
          </button>
        </div>
      </div>

      <div class="field" id="element">
        \( {{entrada_formatada}} \)
      </div>
      <!--BUTTONS-->
      <div class="field control container">
        <button class="button is-link is-small" type="button" onclick="addFunction('deriv-1')">$\frac {d} {d x}
          f(x)$</button>
        <button class="button is-link is-small" type="button" onclick="addFunction('int')">$ \int f(x)$</button>
        <button class="button is-link is-small" type="button" onclick="addFunction('deriv-2')">$\frac {d^2} {d x^2}
          f(x)$</button>
        <button class="button is-link is-small" type="button" onclick="addFunction('e')">${e^x}$</button>
      </div>

      <!--OUTPUT-->
      <div class="field">
        <label for="" class="label">Output: </label>
        <div class="control box">
          {% if output != None %}
          <p id="output">
            \( {{output}} \)
          </p>
          {% endif %}
        </div>
      </div>

    </form>

  </section>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>MathApp</strong> by <a href="https://www.github.com/ricardobr3no">Ricardo Aguiar</a>.
        The source code is licensed
        <a href="https://opensource.org/license/mit">MIT</a>. The
        website content is licensed
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>

  <script>

    const formulaInput = document.getElementById('entrada');
    const element = document.getElementById('element');

    formulaInput.addEventListener("keyup", (e) => {

      katex.render(formulaInput.value, element, {
        throwOnError: false
      })
    });

    // katex.render(formulaInput.value, element, {
    //   throwOnError: false
    // });

    const addFunction = (typeFunction) => {
      switch (typeFunction) {
        case "deriv-1":
          formulaInput.value += "Derivative(function?, x?)"
          break;
        case "deriv-2":
          formulaInput.value += "Derivative(function?, x?, x?)"
          break;
        case "int":
          formulaInput.value += "Integral(function?, x?)"
          break;
        case "e":
          formulaInput.value += "Derivative(x?)"
          break;

        default:
          break;
      }

    }


  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      renderMathInElement(document.body, {
        // customised options
        // • auto-render specific keys, e.g.:
        delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ],
        // • rendering keys, e.g.:
        throwOnError: false
      });
    });
  </script>
</body>

</html>
